h1
{
	text-align: center;
	background-color: pink;
}
p
{
	font-family: Verdana;
	font-style: american;
	color:  red;
}
h2
{
	font-family:  arial;
	font-style:  italic;
	color: purple;
}
h3
{
	font-family:  Verdana;
	font-style:  american;
	color: purple;
}	

